@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/fonts/SuisseIntl-Book.woff2') format('woff2'),
      url('../public/fonts/SuisseIntl-Book.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
