body {
  @apply font-sans antialiased text-black bg-off-grey dark:text-off-grey dark:bg-black transition duration-500 ease-in-out m-0 md:h-full md:overflow-hidden;
}

.text-indent {
  text-indent: 5%;
}

.will-change {
  will-change: transform;
}

.nav-text {
  display: inline-block !important;
  position: relative;

  &:before {
    transition: width 0.8s cubic-bezier(.3,.73,.27,.97);
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 0;
    top: 0;
    opacity: 100%;
    @apply text-black dark:text-off-grey;
  }
}

.nav-text:hover,
.nav-text:focus {
  @apply border-none outline-none;
  &:before {
    width: 100%;
  }
}

.work-item {
  .animate-marquee {
    animation-play-state: paused;
  }
  .animate-marquee2 {
    animation-play-state: paused;
  }
}

.work-item:hover {
  .animate-marquee {
    animation-play-state: running;
  }
  .animate-marquee2 {
    animation-play-state: running;
  }
}

.underscore {
  animation-name: underscore;
  animation-duration: 1s;
}

@keyframes underscore {
  from {opacity: 0.1;}
  to {opacity: 0}
}